<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.younger.eloan.basice.mapper.UserinfoMapper" >
  <resultMap id="FullResultMap" type="Userinfo">
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="version" property="version"/>
    <result column="bitState" property="bitState" jdbcType="BIGINT" />
    <result column="realName" property="realName" jdbcType="VARCHAR" />
    <result column="idNumber" property="idNumber" jdbcType="VARCHAR" />
    <result column="phoneNumber" property="phoneNumber" jdbcType="VARCHAR" />

    <association property="incomeGrade" column="incomeGrade_id" javaType="SystemDictionaryItem" select="com.younger.eloan.basice.mapper.SystemDictionaryItemMapper.selectByPrimaryKey" />
    <association property="marriage" column="marriage_id" javaType="SystemDictionaryItem" select="com.younger.eloan.basice.mapper.SystemDictionaryItemMapper.selectByPrimaryKey" />
    <association property="kidCount" column="kidCount_id" javaType="SystemDictionaryItem" select="com.younger.eloan.basice.mapper.SystemDictionaryItemMapper.selectByPrimaryKey" />
    <association property="educationBackground" column="educationBackground_id" javaType="SystemDictionaryItem" select="com.younger.eloan.basice.mapper.SystemDictionaryItemMapper.selectByPrimaryKey" />
    <association property="houseCondition" column="houseCondition_id" javaType="SystemDictionaryItem" select="com.younger.eloan.basice.mapper.SystemDictionaryItemMapper.selectByPrimaryKey" />
  </resultMap>


  <resultMap id="BaseResultMap" type="com.younger.eloan.basice.domain.Userinfo">
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="version" property="version"/>
    <result column="bitState" property="bitState" jdbcType="BIGINT" />
    <result column="realName" property="realName" jdbcType="VARCHAR" />
    <result column="idNumber" property="idNumber" jdbcType="VARCHAR" />
    <result column="phoneNumber" property="phoneNumber" jdbcType="VARCHAR" />
  </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from `userinfo`
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.younger.eloan.basice.domain.Userinfo" useGeneratedKeys="true" keyProperty="id" >
    insert into `userinfo` (version, bitState, realName, 
      idNumber, phoneNumber, incomeGrade_id, 
      marriage_id, kidCount_id, educationBackground_id, 
      houseCondition_id)
    values (0, #{bitstate,jdbcType=BIGINT}, #{realname,jdbcType=VARCHAR},
      #{idnumber,jdbcType=VARCHAR}, #{phonenumber,jdbcType=VARCHAR}, #{incomegradeId,jdbcType=BIGINT}, 
      #{marriageId,jdbcType=BIGINT}, #{kidcountId,jdbcType=BIGINT}, #{educationbackgroundId,jdbcType=BIGINT}, 
      #{houseconditionId,jdbcType=BIGINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.younger.eloan.basice.domain.Userinfo" >
    update `userinfo`
    set version = version+1,
      bitState = #{bitstate,jdbcType=BIGINT},
      realName = #{realname,jdbcType=VARCHAR},
      idNumber = #{idnumber,jdbcType=VARCHAR},
      phoneNumber = #{phonenumber,jdbcType=VARCHAR},
      incomeGrade_id = #{incomegradeId,jdbcType=BIGINT},
      marriage_id = #{marriageId,jdbcType=BIGINT},
      kidCount_id = #{kidcountId,jdbcType=BIGINT},
      educationBackground_id = #{educationbackgroundId,jdbcType=BIGINT},
      houseCondition_id = #{houseconditionId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT} AND version=#{version}
  </update>
  <select id="selectByPrimaryKey" resultMap="FullResultMap" parameterType="java.lang.Long" >
    select id, version, bitState, realName, idNumber, phoneNumber, incomeGrade_id, marriage_id, 
    kidCount_id, educationBackground_id, houseCondition_id
    from `userinfo`
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, version, bitState, realName, idNumber, phoneNumber, incomeGrade_id, marriage_id, 
    kidCount_id, educationBackground_id, houseCondition_id
    from `userinfo`
  </select>
</mapper>